/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2021, 5:12:23 PM
    Author     : Zuy Fun
*/
.each_machine{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 3px grey dotted;
    padding-bottom: 20px;
}
.each_machine_img{
    width: 200px;
    margin-right: 20px;
}
.each_machine_img img{
    width: 100%;  
    height: auto;
    border-radius: 12px;
}
.each_machine_content{
    width: 526px;
    height: auto;
}
.each_machine_title{
    font-size: 24px;
    margin-bottom: 10px;
}
.each_machine_title a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.each_machine_des{
    font-size: 17px;
    font-family: arial;
}
